{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <a href="{% url 'bbsnote:board_create' %}" class="btn btn-outline-secondary btn-block">게시글 등록</a>   
    <br>
    <table class="table table-hover table-sm">
        <thead>
        <tr class="text-center table-success"> 
            <th>No.</th>           
            <th style="width:50%">제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% if board_list %}
        {% for board in board_list %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td class="text-left">
                <a href="{% url 'bbsnote:detail' board.id %}">{{ board.subject }}</a>                
            </td>            
            <td>{{ board.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록된 글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table> 
</div>
{% endblock %}